button {
    padding: .5rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: .5rem;
    background: #fcba03;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 7px;
    color: white;
}

button:hover {
    cursor: pointer;
    background: #fdcf4e;
}

button:focus {
    box-shadow: none;
    outline: 4px solid #fcba03;
    outline-offset: 4px;
}
