.labelled-input {
    font-size: 1.25rem;
    margin-top: 2rem;
}

.labelled-input > input:autofill,
.labelled-input > input:-webkit-autofill {
    background: none;
    background-color: white;
}

.labelled-input > input {
    font-size: 1.25rem;
    margin-top: .5rem;
    padding-left: .75rem;
    padding-right: .75rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border: none;
    outline: 4px solid #eee;
    border-radius: .5rem;
}

.labelled-input > input.is-invalid {
    background-color: #f3d4d4;
    outline-color: #af2020;
}

.labelled-input > input:focus,
.labelled-input > input.is-invalid:focus {
    outline: 4px solid #999;
}
