.layout-clear {
    background-color: #eee;
    padding: 2rem;
}

.layout-clear main {
    background-color: white;
    border-radius: 2rem;
    padding: 3rem;
}

.layout-clear main .title {
    margin: 0;
}

.layout-clear .centered-box {
    max-width: 400px;
    margin: 120px auto;
}